@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  height: 100% !important;
  position: relative; }

button:focus, a:focus, input:focus {
  outline: 0; }

a {
  color: #049FE2;
  text-decoration: none; }
  a:hover {
    color: #E84D75; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }
.hero {
  text-align: center;
  height: 100%;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
  margin-bottom: 5em; }
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table; }
  .hero .splash {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .hero .icon {
    margin-bottom: 1.25em; }
  .hero .logo {
    margin-bottom: 2.5em; }
  .hero h1 {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -0.03125em;
    margin-bottom: 0.3125em; }
  .hero h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #707070;
    margin-bottom: 1.875em; }
  .hero .scroll-down-hint {
    background: url("../images/chevrons.png") no-repeat center center;
    background-size: 44px 23px;
    height: 23px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    .hero .scroll-down-hint.hide {
      opacity: 0; }

.section {
  padding: 2.5em 2.5em 5em 2.5em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section .section-title {
    font-size: 1.125em;
    margin-bottom: 0.625em;
    color: #049FE2;
    font-weight: 500; }
  .section h1 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 0.3125em; }
  .section h2 {
    font-size: 1.3125em;
    color: #9FA4AE;
    line-height: 1.4em;
    max-width: 720px;
    margin: 0 auto 1.25em auto; }

.features {
  margin-bottom: 2.5em; }
  .features .mocks {
    position: relative;
    margin-top: 7.5em; }
    .features .mocks img {
      max-width: 100%; }

.testimonials-list {
  margin: 5em auto 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: flext-start;
  -moz-box-pack: flext-start;
  box-pack: flext-start;
  -webkit-justify-content: flext-start;
  -moz-justify-content: flext-start;
  -ms-justify-content: flext-start;
  -o-justify-content: flext-start;
  justify-content: flext-start;
  -ms-flex-pack: flext-start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .testimonials-list .testimonial {
    text-align: left;
    margin: 30px 15px;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-basis: 250px;
    -moz-flex-basis: 250px;
    flex-basis: 250px;
    -ms-flex-preferred-size: 250px; }
    .testimonials-list .testimonial .wrapper {
      display: table; }
    .testimonials-list .testimonial .avatar, .testimonials-list .testimonial .content-wrapper {
      display: table-cell;
      vertical-align: top; }
    .testimonials-list .testimonial .avatar {
      width: 50px; }
      .testimonials-list .testimonial .avatar img {
        border-radius: 100%; }
    .testimonials-list .testimonial .name {
      font-weight: bold;
      line-height: 32px; }
      .testimonials-list .testimonial .name a {
        font-size: 0.75em;
        font-weight: normal; }
    .testimonials-list .testimonial .content {
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.3em; }

.about .picture {
  margin: 2.5em 0; }
.about h3 {
  font-size: 1.3125em;
  margin-bottom: 0.625em; }
.about p {
  color: #9FA4AE;
  max-width: 512px;
  margin: 0 auto 2.5em auto;
  line-height: 1.5em; }

.seperator {
  border-top: 1px solid #EAEDF1;
  border-bottom: 1px solid #EAEDF1;
  margin-bottom: 40px; }

.download {
  padding: 40px; }
  .download .ad {
    font-size: 24px;
    margin-right: 40px; }
  .download .ad, .download .appstore-button {
    vertical-align: middle;
    display: inline-block; }

.share-buttons {
  margin-top: 5em; }
  .share-buttons .button {
    color: white;
    display: inline-block;
    line-height: 60px;
    width: 240px;
    font-size: 1em;
    text-align: center; }
    .share-buttons .button:hover {
      opacity: 0.8; }
    .share-buttons .button::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
      height: 0; }
    .share-buttons .button.last, .share-buttons .button.first {
      position: relative; }
    .share-buttons .button.first {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: 15px; }
      .share-buttons .button.first::after {
        right: -30px;
        border-top: 60px solid;
        border-right: 30px solid transparent; }
    .share-buttons .button.last {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: 15px; }
      .share-buttons .button.last::after {
        left: -30px;
        border-bottom: 60px solid;
        border-left: 30px solid transparent; }
  .share-buttons .icon {
    width: 20px;
    vertical-align: sub;
    margin-right: 0.9375em; }
  .share-buttons .twitter {
    background: #00ACED; }
    .share-buttons .twitter.last::after {
      border-bottom-color: #00ACED; }
  .share-buttons .facebook {
    background: #3B5998; }
    .share-buttons .facebook.first::after {
      border-top-color: #3B5998; }

.footer {
  text-align: left;
  border-top: 1px solid #EAEDF1;
  padding: 25px 40px 20px 40px; }
  .footer .badges {
    text-align: right;
    margin-top: -30px; }

@media screen and (max-width: 600px) {
  body {
    font-size: 0.875em; }

  .hero {
    height: auto;
    min-height: 0;
    margin-bottom: 2.5em; }
    .hero .overlay {
      position: static;
      padding: 40px 16px;
      display: block;
      height: auto; }
    .hero .splash {
      display: block; }
    .hero .icon img {
      width: 80px; }
    .hero .logo img {
      width: 150px; }
    .hero .scroll-down-hint {
      display: none; }
    .hero h1 {
      font-size: 2.25em; }
    .hero h2 {
      font-size: 1.125em; }

  .section {
    padding: 1.25em 1em 2.5em 1em;
    text-align: left; }
    .section h1 {
      font-size: 1.5em; }
    .section h2 {
      font-size: 1em; }

  .features {
    margin-bottom: 1.25em; }
    .features .mocks {
      margin-top: 3.75em; }

  .testimonials-list {
    margin-top: 2.5em; }
    .testimonials-list .testimonial {
      margin: 15px; }

  .share-buttons {
    margin-top: 2.5em; }
    .share-buttons .button {
      border-radius: 5px;
      line-height: 50px;
      padding: 0;
      width: 100%;
      margin: 10px 0 !important; }
      .share-buttons .button::after {
        display: none; }

  .download {
    text-align: center; }
    .download .ad {
      display: block;
      margin: 20px 0 20px 0;
      font-size: 1.5em; }

  .about {
    text-align: center; }

  .footer {
    text-align: center;
    display: none; }
    .footer .badges {
      margin-top: 10px;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
