@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/reset";
@import "partials/preloader";

$blue-clr:#049FE2;
$pink-clr:#E84D75;
$light-clr:#9FA4AE;
$border-clr: #EAEDF1;

body {
    font-family:'Roboto', 'Helvetica Neue', Arial, sans-serif;
    height:100% !important;
    position:relative;
    &.loading {
        overflow:hidden;
    }
}

button:focus, a:focus, input:focus {outline:0;}

a {
    color: $blue-clr;
    text-decoration:none;
    &:hover {
        color:$pink-clr;
    }
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}

.hero {
    text-align:center;
    height:100%;
    background: url('../images/background.jpg') no-repeat;
    background-size:cover;
    position:relative;
    min-height: 700px;
    margin-bottom:em(80);
    .overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:table;
    }
    .splash {
        display:table-cell;
        vertical-align:middle;
        width:100%;
    }
    .icon {
        margin-bottom: em(20);
    }
    .logo {
        margin-bottom: em(40);
    }
    h1 {
        font-size: em(48);
        font-weight: 500;
        letter-spacing: em(-0.5);
        margin-bottom: em(5);
    }
    h2 {
        font-size: em(24);
        font-weight:300;
        color: #707070;
        margin-bottom: em(30);
    }
    .scroll-down-hint {
        background: url('../images/chevrons.png') no-repeat center center;
        background-size:44px 23px;
        height:23px;
        position:absolute;
        width:100%;
        bottom:20px;
        @include animation(bounce 2s infinite);
        @include transition(opacity 0.3s ease-in-out);
        &.hide {
            opacity:0;
        }
    }
}

.section {
    padding: em(40) em(40) em(80) em(40);
    @include outer-container;
    text-align:center;
    .section-title {
        font-size: em(18);
        margin-bottom: em(10);
        color: #049FE2;
        font-weight: 500;
    }
    h1 {
        font-size: em(40);
        font-weight: 300;
        line-height: 1.2em;
        margin-bottom: em(5);
    }
    h2 {
        font-size: em(21);
        color: $light-clr;
        line-height: 1.4em;
        max-width: 720px;
        margin:0 auto em(20) auto;
    }
}

.features {
    margin-bottom:em(40);
    .mocks {
        position:relative;
        margin-top:em(120);
        img {
            max-width:100%;
        }
    }
}

.testimonials-list {
    margin:em(80) auto 0 auto;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flext-start);
    @include align-content(flex-start);
    @include align-items(flex-start);
    .testimonial {
        text-align:left;
        margin:30px 15px;
        @include flex-grow(1);
        @include flex-basis(250px);
        .wrapper {
            display:table;
        }
        .avatar, .content-wrapper {
            display:table-cell;
            vertical-align:top;
        }
        .avatar {
            width: 50px;
            img {
                border-radius: 100%;
            }
        }
        .name {
            font-weight: bold;
            line-height: 32px;
            a {
                font-size: em(12);
                font-weight: normal;
            }
        }
        .content {
            font-size: em(20);
            font-weight: 300;
            line-height:1.3em;

        }
    }
}

.about {
    .picture {
        margin:em(40) 0;
    }
    h3 {
        font-size: em(21);
        margin-bottom:em(10);
    }
    p {
        color: $light-clr;
        max-width: 512px;
        margin:0 auto em(40) auto;
        line-height:1.5em;
    }
}

.seperator {
    border-top:1px solid $border-clr;
    border-bottom:1px solid $border-clr;
    margin-bottom:40px;
}

.download {
    padding:40px;
    .ad {
        font-size: 24px;
        margin-right: 40px;
    }
    .ad, .appstore-button {
        vertical-align:middle;
        display:inline-block;
    }
}

.share-buttons {
    margin-top: em(80);
    $border-radius:5px;
    .button {
        color:white;
        display:inline-block;
        line-height:60px;
        width:240px;
        font-size:em(16);
        text-align:center;
        &:hover {
            opacity: 0.8;
        }
        &::after {
            content:'';
            display:block;
            width:0;
            height:0;
            position:absolute;
            top:0;
            width: 0;
            height: 0;
        }
        &.last, &.first {
            position:relative;

        }
        &.first {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            margin-right:15px;
            &::after {
                right:-30px;
                border-top: 60px solid;
                border-right: 30px solid transparent;
            }
        }
        &.last {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin-left:15px;
            &::after {
                left: -30px;
                border-bottom: 60px solid;
                border-left: 30px solid transparent;
            }
        }

    }
    .icon {
        width: 20px;
        vertical-align:sub;
        margin-right:em(15);
    }
    .twitter {
        background: #00ACED;
        &.last::after {
            border-bottom-color: #00ACED;
        }
    }
    .facebook {
        background:#3B5998;
        &.first::after {
            border-top-color: #3B5998;
        }
    }
}

.footer {
    text-align:left;
    border-top: 1px solid $border-clr;
    padding:25px 40px 20px 40px;
    .badges {
        text-align:right;
        margin-top:-30px;
    }
}


@import "partials/mobile";
