@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

.preloader {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    display:table;
    background: white;
    z-index: 100;
    font-weight:bold;
    font-size:11px;
    text-transform:uppercase;
    @include transition(opacity 0.3s ease-in-out);
    .content {
        display:table-cell;
        vertical-align:middle;
    }
    .indicator {
        margin-bottom: 15px;
        img {
            @include animation(spin 1s linear infinite);
        }
    }
    &.fadeOut {
        opacity:0;
    }
}
